.qoder/
.DS_Store
.idea/
.trae/
.m2/
docs/
.env
shared/.env
**/.venv/
**/__pycache__/
**/*.pyc
**/node_modules/
infra/**/.dagster/
infra/**/dagster_home/storage/
infra/**/dagster_home/*.db

**/target/
